*{
    padding: 0;
    margin: 0;
}
body{
    background: url(/images/blurred-bg-image.png), radial-gradient(56.61% 137.86% at 6.3% 11.85%, rgba(32, 94, 255, 0.15) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(56.61% 137.86% at 6.3% 11.85%, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(57.55% 87.41% at 92.24% -16.34%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(88.47% 88.47% at 12.32% 122.55%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(0, 0, 0, 0.95);
    color: #FFFFFF;
    padding: 1rem;
    font-family: 'Outfit', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
/* GENERAL STYLES */
.grey{
    color: rgba(255, 255, 255, 0.46);
}
.pointer{
    cursor: pointer;
}
.small{
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 600;
}
.bold{
    font-weight: 700;
    font-size: 20px;
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.46);
    margin: 0 0.5rem;
}
.container{
    padding: 2rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo container styling */
.logo-text{
    font-size: 20px;
}
.logo-text span{
    font-size: 0.8em;
}
.logo-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.duty-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.03);
    height: max-content;
}
.duty{
    background: linear-gradient(0deg, rgba(101, 255, 144, 0.25), rgba(101, 255, 144, 0.25)),
                linear-gradient(0deg, rgba(101, 255, 144, 0.1), rgba(101, 255, 144, 0.1));
    border: 1px solid rgba(101, 255, 144, 0.25);
    padding: 5px;
    font-size: 0.8em;
}
.duty-name{
    display: flex;
    align-items: center;
}
.main-container{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    flex: 1;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.side-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 1s ease;
    /* border-image-source: linear-gradient(338.21deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 72.22%); */
}
.side-menu:hover{
    transform: scale(0.9);
}
.dashboard{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.65);
}

.warrants-container, .order-container{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1rem 0 1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.header-text{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search-input{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: max-content;
}
.search-input input{
    background: transparent;
    border: none;
    max-width: 300px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 20px;
    font-weight: 500;
    border-left: 1px solid  rgba(255, 255, 255, 0.25);
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
.search-input input:focus{
    outline: none;
}
.orders, .warrants{
    margin: 2rem 0;
}
.order{
    padding: 1rem;
    border: 1px solid rgba(241, 51, 51, 0.25);
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgba(241, 51, 51, 0.05);
    margin: 0.3rem 0;
}
.warrants{
    height: 605px;
    overflow-y: scroll;
}
.warrant{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 0.3rem;
}
.warrant-image{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.days-left{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0.7rem;
    background: rgba(255, 255, 255, 0.1);
    font-size: 10px;
}
.order-image{
    border: 1px solid rgba(241, 51, 51, 0.25);
}
.information{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.46);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.status-div{
    display: flex;
    align-items: center;
}
.status-div .pointer:hover{
    transform: scale(1.1);
}
.mr{
    margin-right: 0.2rem;
}
.red{
    color: #F13333;
    border:  1px solid rgba(241, 51, 51, 0.25);
    background: rgba(241, 51, 51, 0.02);
    padding: 0.5rem;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-right: 0.5rem;
    text-transform: uppercase;
}
.blue{
    color: #63B4FF;
    background: rgba(99, 180, 255, 0.02);
    border: 1px solid rgba(99, 180, 255, 0.25);
    padding: 0.5rem;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-right: 0.5rem;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}

@media screen and (min-width:1200px) {
    .container{
        width: 95%;
        margin: auto;
    }
    body{
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width:1400px) {
    .container{
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width:1600px) {
    .container{
        width: 85%;
        margin: auto;
    }
}
@media screen and (min-width:1800px) {
    .container{
        width: 80%;
        margin: auto;
    }
}